extends templates/master

block body
  nav#nav.nav(aria-label=text['index.nav.label'] hidden)
    button#navigation-btn.nav__button(aria-expanded='false', aria-controls='navigation-list' aria-label=text['index.nav.menu'])
      span.nav__burger
      span.nav__text #{text['index.nav.menu']}
    ul#navigation-list.nav__list
      li.nav__item
        a.nav__link.bkgd-blue(href='#itinerary') #{text['index.nav.itinerary']}
      li.nav__item
        a.nav__link.bkgd-teal(href='#about') #{text['index.nav.about']}
      li.nav__item
        a.nav__link.bkgd-yellow(href='#timeline') #{text['index.nav.timeline']}
      li.nav__item
        a.nav__link.bkgd-orange(href='#photos') #{text['index.nav.photos']}
      li.nav__item
        a.nav__link.bkgd-red(href='#faq') #{text['index.nav.faq']}
  a.language-picker(aria-label=text['index.lang.label'], href=text['index.lang.url'])
    span.language-picker__ru #{text['index.lang.icon']}
  main.index-page
    header#welcome.header
      h1.full-width #{text['index.header.title']}
      p #{text['index.header.location']}
      p: time(datetime='2018-09-08') #{text['index.header.date']}
      span#countdown.countdown.full-width(role='timer', aria-live='polite', aria-atomic='true')
      a(href=text['index.header.url']).rsvp-button: span #{text['index.header.rsvp']}
    section#itinerary
      h2.forever-full.bkgd-blue: span #{text['index.nav.itinerary']}
      section.itinerary
        header.itinerary__title
          h3 #{text['index.itinerary.ceremony.title']}
          p: time(datetime='2018-09-08 15:30') #{text['index.itinerary.ceremony.time']}
        address
          p #{text['index.itinerary.park']}
          p #{text['index.itinerary.ceremony.address.lineTwo']}
          p #{text['index.itinerary.ceremony.address.lineThree']}
        details.itinerary__map
          summary #{text['index.itinerary.map']}
          iframe.full-width(src=text["index.itinerary.ceremony.map"])
        p #{text['index.itinerary.ceremony.desc']}
      section.itinerary
        header.itinerary__title
          h3 #{text['index.itinerary.photos.title']}
          p: time(datetime='2018-09-08 16:00') #{text['index.itinerary.photos.time']}
        p #{text['index.itinerary.park']}
        p #{text['index.itinerary.photos.desc']}
      section.itinerary
        header.itinerary__title
          h3 #{text['index.itinerary.cocktail.title']}
          p: time(datetime='2018-09-08 16:30') #{text['index.itinerary.cocktail.time']}
        address
          p #{text['index.itinerary.box']}
          p #{text['index.itinerary.cocktail.address.lineTwo']}
          p #{text['index.itinerary.cocktail.address.lineThree']}
        details.itinerary__map
          summary #{text['index.itinerary.map']}
          iframe.full-width(src=text["index.itinerary.cocktail.map"])
        p #{text['index.itinerary.cocktail.desc']}
      section.itinerary
        header.itinerary__title
          h3 #{text['index.itinerary.reception.title']}
          p: time(datetime='2018-09-08 18:30') #{text['index.itinerary.reception.time']}
        p #{text['index.itinerary.box']}
        p #{text['index.itinerary.reception.desc']}
    section#about
      h2.forever-full.bkgd-teal: span #{text['index.nav.about']}
      p.about__p
        span.about__person.about__person--sarah #{text['index.about.sarah']}
        | #{text['index.about.desc10']}
      p.about__p
        span.about__person.about__person--michail #{text['index.about.michail']}
        | #{text['index.about.desc20']}
      p.about__p
        span.about__person.about__person--sarah #{text['index.about.sarah']}
        | #{text['index.about.desc30']}
      p.about__p
        span.about__person.about__person--michail #{text['index.about.michail']}
        | #{text['index.about.desc40']}
      p.about__p
        span.about__person.about__person--sarah #{text['index.about.sarah']}
        | #{text['index.about.desc50']}
      p.about__p
        span.about__person.about__person--michail #{text['index.about.michail']}
        | #{text['index.about.desc60']}
      p.about__p
        span.about__person.about__person--sarah #{text['index.about.sarah']}
        | #{text['index.about.desc70']}
      p.about__p
        span.about__person.about__person--michail #{text['index.about.michail']}
        | #{text['index.about.desc80']}
    section#timeline
      h2.forever-full.bkgd-yellow: span #{text['index.nav.timeline']}
      ol.timeline
        li.timeline__event.timeline__event--wave
          h3 #{text['index.timeline.one.title']}
          time #{text['index.timeline.one.time']}
          p #{text['index.timeline.one.desc']}
        li.timeline__event.timeline__event--email
          h3 #{text['index.timeline.two.title']}
          time #{text['index.timeline.two.time']}
          p #{text['index.timeline.two.desc']}
        li.timeline__event.timeline__event--date
          h3 #{text['index.timeline.three.title']}
          time #{text['index.timeline.three.time']}
          p #{text['index.timeline.three.desc']}
        li.timeline__event.timeline__event--heart
          h3 #{text['index.timeline.four.title']}
          time #{text['index.timeline.four.time']}
          p #{text['index.timeline.four.desc']}
        li.timeline__event.timeline__event--college
          h3 #{text['index.timeline.five.title']}
          time #{text['index.timeline.five.time']}
          p #{text['index.timeline.five.desc']}
        li.timeline__event.timeline__event--house
          h3 #{text['index.timeline.six.title']}
          time #{text['index.timeline.six.time']}
          p #{text['index.timeline.six.desc']}
        li.timeline__event.timeline__event--vacation
          h3 #{text['index.timeline.seven.title']}
          time #{text['index.timeline.seven.time']}
          p #{text['index.timeline.seven.desc']}
        li.timeline__event.timeline__event--sf
          h3 #{text['index.timeline.eight.title']}
          time #{text['index.timeline.eight.time']}
          p #{text['index.timeline.eight.desc']}
        li.timeline__event.timeline__event--ring
          h3 #{text['index.timeline.nine.title']}
          time #{text['index.timeline.nine.time']}
          p #{text['index.timeline.nine.desc']}
        li.timeline__event.timeline__event--seattle
          h3 #{text['index.timeline.ten.title']}
          time #{text['index.timeline.ten.time']}
          p #{text['index.timeline.ten.desc']}
        li.timeline__event.timeline__event--wedding
          h3 #{text['index.timeline.eleven.title']}
          time #{text['index.timeline.eleven.time']}
          p #{text['index.timeline.eleven.desc']}
    section#photos
      h2.forever-full.bkgd-orange: span #{text['index.nav.photos']}
      p !{text['index.photos.weddingAlbum']}
      aside.photos-collection.rellax
        button.arrow.arrow--left(aria-label='Previous image')
        button.arrow.arrow--right(aria-label='Next image')
        ol.siema
          li
            figure
              img(src="/images/1 homecoming 10.10.09.jpg" alt="A close up before homecoming 2009")
              figcaption
                h4 #{text['index.photos.one.heading']}
                time #{text['index.photos.one.time']}
                p #{text['index.photos.one.desc']}
          li
            figure
              img(src="/images/2 straight hair 11.14.09.jpg" alt="A photo of us, me with straight hair 2009")
              figcaption
                h4 #{text['index.photos.two.heading']}
                time #{text['index.photos.two.time']}
          li
            figure
              img(src="/images/3 prom 04.24.10.jpg" alt="A close up of us before prom 2010")
              figcaption
                h4 #{text['index.photos.three.heading']}
                time #{text['index.photos.three.time']}
          li
            figure
              img(src="/images/4 senior photo 2 09.03.10.jpg" alt="Sarah getting a piggy back ride from Michail 2010")
              figcaption
                h4 #{text['index.photos.four.heading']}
                time #{text['index.photos.four.time']}
          li
            figure
              img(src="/images/5 WI holidays 01.02.11.jpg" alt="Unflattering but funny picture of us 2011")
              figcaption
                h4 #{text['index.photos.five.heading']}
                time #{text['index.photos.five.time']}
          li
            figure
              img(src="/images/6 pokemon, before leaving for college, 07.17.12.jpg" alt="Another unflattering photo of us 2012")
              figcaption
                h4 #{text['index.photos.six.heading']}
                time #{text['index.photos.six.time']}
          li
            figure
              img(src="/images/7 columbus, color hair, 03.01.14.jpg" alt="Us with colored hair 2014")
              figcaption
                h4 #{text['index.photos.seven.heading']}
                time #{text['index.photos.seven.time']}
          li
            figure
              img(src="/images/8 cincinnati 11.16.14.jpg" alt="Us, huddled in front of a fake street sign that says Cincinnati 2014")
              figcaption
                h4 #{text['index.photos.eight.heading']}
                time #{text['index.photos.eight.time']}
          li
            figure
              img(src="/images/9 first sf photo 03.14.15.jpg" alt="Us, me throwing up a peace sign, in front of a window 2015")
              figcaption
                h4 #{text['index.photos.nine.heading']}
                time #{text['index.photos.nine.time']}
                p #{text['index.photos.nine.desc']}
          li
            figure
              img(src="/images/10 sf apt roof 12.06.15.jpg" alt="Close up of us on a rooftop 2015")
              figcaption
                h4 #{text['index.photos.ten.heading']}
                time #{text['index.photos.ten.time']}
          li
            figure
              img(src="/images/12 puerto rico 09.04.16.jpg" alt="Close up of us on top a rain forest 2016")
              figcaption
                h4 #{text['index.photos.eleven.heading']}
                time #{text['index.photos.eleven.time']}
                p #{text['index.photos.eleven.desc']}
          li
            figure
              img(src="/images/13 portland 03.27.17.jpg" alt="Selfie in front of cherry blossoms 2017")
              figcaption
                h4 #{text['index.photos.twelve.heading']}
                time #{text['index.photos.twelve.time']}
          li
            figure
              img(src="/images/14 denver 03.27.17.jpg" alt="Us, scrunching our faces, in the snow 2017")
              figcaption
                h4 #{text['index.photos.thirteen.heading']}
                time #{text['index.photos.thirteen.time']}
                p #{text['index.photos.thirteen.desc']}
          li
            figure
              img(src="/images/15 hawaii 06.17.17.jpg" alt="A slefie on a beach 2017")
              figcaption
                h4 #{text['index.photos.fourteen.heading']}
                time #{text['index.photos.fourteen.time']}
          li
            figure
              img(src="/images/16 WI holidays 12.31.17.jpg" alt="A nice photo of us 2017")
              figcaption
                h4 #{text['index.photos.fifteen.heading']}
                time #{text['index.photos.fifteen.time']}
          li
            figure
              img(src="/images/17 proposal night 02.09.18.jpg" alt="Us cooking dinner together 2018")
              figcaption
                h4 #{text['index.photos.sixteen.heading']}
                time #{text['index.photos.sixteen.time']}
                p #{text['index.photos.sixteen.desc']}
          li
            figure
              img(src="/images/18 hike 03.07.18.jpg" alt="A selfie in a tree 2018")
              figcaption
                h4 #{text['index.photos.seventeen.heading']}
                time #{text['index.photos.seventeen.time']}
          li
            figure
              img(src="/images/19 sf beach 04.22.18.jpg" alt="A selfie of us on a beach 2018")
              figcaption
                h4 #{text['index.photos.eighteen.heading']}
                time #{text['index.photos.eighteen.time']}
          li
            figure
              img(src="/images/20 seattle 06.02.18.jpg" alt="A selfie of us in front of the space needle 2018")
              figcaption
                h4 #{text['index.photos.nineteen.heading']}
                time #{text['index.photos.nineteen.time']}
    section#faq
      h2.forever-full.bkgd-red: span #{text['index.nav.faq']}
      dl.faq
        dt.heading #{text['index.faq.one.q']}
        dd #{text['index.faq.one.a.lineOne']}
          ul
            li !{text['index.faq.one.a.lineTwo']}
            li !{text['index.faq.one.a.lineThree']}
            li !{text['index.faq.one.a.lineFour']}
        dd #{text['index.faq.one.a.lineFive']}
        dt.heading #{text['index.faq.two.q']}
        dd #{text['index.faq.two.a']}
        dt.heading #{text['index.faq.three.q']}
        dd #{text['index.faq.three.a']}
        dt.heading #{text['index.faq.four.q']}
        dd #{text['index.faq.four.a.lineOne']}
        dd #{text['index.faq.four.a.lineTwo']}
        dt.heading #{text['index.faq.five.q']}
        dd #{text['index.faq.five.a']}
        dt.heading #{text['index.faq.six.q']}
        dd #{text['index.faq.six.a']}
        dt.heading #{text['index.faq.seven.q']}
        dd !{text['index.faq.seven.a']}

  div#rsvp-dialog
    div(tabindex='-1' data-a11y-dialog-hide).dialog-overlay
    dialog(aria-labelledby='dialog-title')
      button(type='button' aria-label='Close this dialog window' data-a11y-dialog-hide) &times;
      h1#dialog-title #{text['index.rsvp.thanks']}

  if !production
      script(src='/main.js')
  else
      script(src='/main.min.js')
