extends templates/master

block body
  main#main.rsvp-page
    h1 #{rsvp.title}

    form(id='rsvp' autocomplete='off' name='rsvp' method='POST')
      fieldset.step.step--1
        label
          span.bigger #{rsvp.q1}
          p.error.error--required(hidden) #{rsvp.required}
          p.error.error--match(hidden) #{rsvp.q1.matchError}
          input#family_name(list='guests' autocomplete='nope' placeholder='Our lovely guest' required name='family_name')
        datalist(id='guests')
          option(data-count='4') Yasonik Family
          option(data-count='2') Fuchs Family
          option(data-count='4') Gorelik Family
          option(data-count='2') Michael Gorelik
      fieldset.step.step--2
        legend.bigger #{rsvp.q2}
        p.error.error--required(hidden) #{rsvp.required}
        div
          label
            input#attending(type='radio' name='is_attending' value='Yes' required)
            span #{rsvp.q1.yes}
          label
            input#nope(type='radio' name='is_attending' value='No' required)
            span #{rsvp.q2.no}
      fieldset.step.step--3.hidden
        legend.bigger #{rsvp.q3}
        div.rsvp__count
      fieldset.step.hidden
        div
          label
            span #{rsvp.q4}
            textarea(rows=3 name='dietary_restrictions')
        div
          label
            span #{rsvp.q5}
            textarea(rows=3 name='song_selections')
        div
          label
            span #{rsvp.q6}
            textarea(rows=3 name='advice')
        div
          label
            span #{rsvp.q7}
            textarea(rows=3 name='additional_comments')
      button(type='button' id='rsvp-submit') #{rsvp.send}

  script(src='https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js')
  if !production
    script(src='/rsvp.js')
  else
    script(src='/rsvp.min.js')